<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud App</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark"> User Management System </a>
          </div>
        </div>
      </nav>
    </header>
    <!-- /Header -->

    <!-- Main site -->
    <div class="site-main">
      <div class="container">
        <div class="box-nav d-flex-justify-between">
         <div class="filter">
            <a href="/">  <i class="fa fa-angle-double-left"></i>  All Users  </a>
         </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light"> Use the Below Form to create New Account</span>
        </div>
       <!-- Form -->

        <!-- <form action="" method="POST"  id="update_user" >
           <div class="new_user">
           <div class="forn-group">
             <label for="name" class="text-light">Name</label>
            <input type="hidden" name="" id="">
            <input type="text" name="name" value="" placeholder="John Sena" id="">
           </div>
             <div class="forn-group">
             <label for="email" class="text-light">Email</label>
           
            <input type="email" name="email" value="" placeholder="example@gmail.com" id="">
           </div>

            <div class="forn-group">
             <label for="gender" class="text-light">Gender</label>
             <div class="radio inline ">

                 <input type="radio" name="gender" value="Male" id="">
                   <label for="gender" class="text-light">Male</label>
             </div>
           
           </div>
           </div> -->
        </form>
         <!-- /Form -->
      </div>
    </div>
    <!-- /Main site -->
  </body>
</html>
